body {
    background: lightgrey;
}

#container {
  margin: auto;
  width: 400px;
  height: 250px;
  background: white;
  border: 1px solid black;
  text-align: center;
}

h2 {
    font-family: Arial;
}

#login {
}

