
<script src="/login.js"></script>

<h2>Sign Into Persona</h2>

<form method="post" action="javascript:login();">
<table border="0">
<tr><td align="right">Email:</td><td><b><span id="email"></span></b></td></tr>
<tr><td align="right">Password:</td><td><input type="password" id="password" /></td></tr>
</table>
<input type="submit" value="go" />
</form>

