body {
  margin: 0;
  padding: 5;
  border: 0;
  background: #FFC469;
}

.button {
  padding: 4px;
  margin: 2px;
  display: inline-block;
  text-align: center;
  line-height: 21px;
  font-weight: bold;
  width: 200px;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  background-color: #37A6FF;
  border: 1px solid #37A6FF;
  text-shadow: -1px -1px 0 #37A6FF;
  cursor: pointer;

  -webkit-box-shadow: 0 0 0 1px #76C2FF inset;
     -moz-box-shadow: 0 0 0 1px #76C2FF inset;
       -o-box-shadow: 0 0 0 1px #76C2FF inset;
          box-shadow: 0 0 0 1px #76C2FF inset;

  background-image: -moz-linear-gradient(center top , #76C2FF 0pt, #37A6FF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76C2FF), color-stop(100%, #37A6FF));
}
